#
# Debian Fast-Post Installer script
# Created and developed by Liam Powell (gfelipe099)
# main.conf file
# debian-fpi default configuration file
# 

# Desktop Enviroment
installDesktopEnviroment=yes
desktopEnviroment=gnome

# Applications Settings
installBasicSystemTools=yes
installBasicTools=yes
installWebBrowser=yes
installOfficeSuite=yes
installGamingSoftware=no
installMultimediaSoftware=no
installDeveloperSoftware=no
installLatestNvidiaDrivers=no
installOpenSourceDrivers=yes

# System Settings
runSystemReadiness=no
createSwapFile=no
applyDebianFixes=yes
